<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
</head>
  <h1 class="titre">Ask</h1>
  <p>Ask a question</p>  <!-- Add this -->



  <form method='get' class="text" action="answer">
    <input type="text" class="" name="question">
    <input type="submit" class="btn btn-info" value="Ask!">
  </form>
